<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <img src="https://media.licdn.com/dms/image/C4E03AQFBAEBQklEeCQ/profile-displayphoto-shrink_800_800/0/1662732978833?e=2147483647&v=beta&t=PUHjgd9Tt2GWIZwJmbDf3GaogVq1i0nUAc7zAw_I5W8" height="380px" width="350px">
      <ion-card-header>
        <ion-card-title>Datos de contacto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Nombre: Paola Francesca Perez Ramirez<br>
        Email: paolafrancescaperezramirez@gmail.com<br>
        Teléfono: 829-708-8310
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>
